/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------
// |  A  |  B  |  Studio  |
// |  D  |  E  |  F  |
// |  G  |  H  |  I  |
// |  J  |  K  |  L  |
// -------------------
            bindings = <
    &kp A &kp B &studio_unlock
    &kp D &kp E &kp F
    &kp G &kp H &kp I
    &kp J &kp K &kp L
            >;

        };
    };
};