/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        home_layer {
// ----------------------------------------------
// |  Bluetooth Layer  |  RGB Layer  |  Studio  |
// |  D  |  E  |  F  |
// |  G  |  H  |  I  |
// |  J  |  K  |  Home  |
// -------------------
            bindings = <
    &to 1 &to 2 &studio_unlock
    &kp D &kp E &kp F
    &kp G &kp H &kp I
    &kp J &kp K &to 0
            >;

        };

        bluetooth_layer {
            bindings = <
            &kp 0 &kp 1 &kp 2
            &kp 3 &kp 4 &kp 5
            &kp 6 &kp 7 &kp 8
            &kp 9 &kp B &to 0
            >;
            };

        rgb_layer {
            bindings = <
            &kp 0 &kp 1 &kp 2
            &kp 3 &kp 4 &kp 5
            &kp 6 &kp 7 &kp 8
            &kp 9 &kp B &to 0
            >;
        };
    };
};